.form{
    height: 350px;
    width: 500px;
    background-color: rgb(229, 234, 232);
    border-radius: 30px;
}
.p1{
    font-family: sans-serif,cursive;
    font-size: large;
}
input{
    height: 50px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid rgb(127, 140, 141);
}
button{
    height: 45px;
    width: 300px;
    border-radius: 10px;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    background-color: #1466df;
    color: white;
    cursor: pointer;
}
img{
    height: 200px;
    width: 200px;
}
.p2{
    cursor: pointer;
    color: blue;
}
p{
    cursor: default;
}
/*Created By B.Saicharan VII - A*/